<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/fav-icon.ico" type='image/x-icon' >
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{title}}</title>

    <!-- CSS -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.css">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">

    <!-- Additional CSS Libraries for Admin Screens -->
    <link rel="stylesheet" href="/css/sb-admin.css">
    <!--<link rel="stylesheet" href="css/acute.select.css">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <!--<link rel="stylesheet" href="/css/video-player.css">-->

    <!--ladda-->
    <link rel="stylesheet" href="/css/ladda-themeless.min.css">

    <!--&lt;!&ndash; Date Picker CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>-->

    <!-- CSS Styling Made by Web Designer-->
    <link rel="stylesheet" href="/css/admin-style.css">


    <!-- Javascript -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
    <!--ngRoute-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <!--bootstrap-->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>


    <!-- Additional JS Libraries for Admin Screens -->
    <!--<script type="text/javascript" src="js/acute.select.js"></script>-->
    <script type="text/javascript" src="/js/bootstrap-ui.js"></script>
    <!--<script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table-angular.js"></script>

    <!--base64 encode and decode-->
    <script type="text/javascript" src="/js/angular-base64.min.js"></script>


    <!--ladda-->
    <script type="text/javascript" src="/js/spin.min.js"></script>
    <script type="text/javascript" src="/js/ladda.min.js"></script>
    <script type="text/javascript" src="/js/angular-ladda.min.js"></script>

    <!--Angular Chart-->
    <script type="text/javascript" src="/js/Chart.bundle.js"></script>
    <script type="text/javascript" src="/js/angular-chart.js"></script>

    <!-- JS for Angular -->
    <script type="text/javascript" src="/js/app/webui-app-admin.js"></script>
    <script type="text/javascript" src="/js/app/dashboard-controller.js"></script>
    <script type="text/javascript" src="/js/app/api-explorer-controller.js"></script>
    <script type="text/javascript" src="/js/app/streams-controller.js"></script>
    <script type="text/javascript" src="/js/app/streams/add/streams-add-ctrl.js"></script>
    <script type="text/javascript" src="/js/app/streams/send/streams-send-ctrl.js"></script>
    <script type="text/javascript" src="/js/app/streams/fblive/streams-fblive-ctrl.js"></script>
    <script type="text/javascript" src="/js/app/streams/youtube/streams-send-youtube-ctrl.js"></script>
    <script type="text/javascript" src="/js/app/streams/active/streams-active-ctrl.js"></script>
    <script type="text/javascript" src="/js/app/streams/config/streams-config-ctrl.js"></script>
    <script type="text/javascript" src="/js/app/streams/vod/streams-vod-ctrl.js"></script>

    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

</head>
<body>
<div id="wrapper" ng-app="webui-app" >

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="."><img src="/images/evostream-logo-white.svg"></a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="http://docs.evostream.com/" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="top-button manual"></div>
                </a>
            </li>
            <li class="dropdown">
                <a href="/dashboard#" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="top-button user"></div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/users/profile"><i class="fa fa-fw fa-smile-o" ></i> Profile</a>
                    </li>
                    <li>
                        <a href="/users/logout"><i class="fa fa-fw fa-power-off" ></i> Log Out</a>
                    </li>

                </ul>
            </li>
        </ul>
        <!-- Top Menu Items Left -->
        <ul class="nav navbar-left top-nav" ng-controller="connectionButtonCtrl" >
            <li class="dropdown connection-notification">
                <div href="#" class="dropdown-toggle" data-toggle="dropdown" >
                    <div class="top-button connection-notification">
                        <div class="connect-button {[{connectionStatus}]} "></div>
                    </div>
                    {[{connectionText}]}
                </div>

            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="{{{dashboardActive}}}" >
                    <a href="/dashboard"><img src="/images/dashboard-logo.png"> Dashboard</a>
                </li>
                <li class="{{{streamsActive}}}">
                    <a href="/streams" data-toggle="collapse" data-target="#demo"  ><img src="/images/stream-logo.png">
                        Streams
                        <!--<i class="fa fa-fw fa-caret-down"></i>-->
                    </a>
                    <!--<ul id="demo" class="collapse">-->
                        <!--<li>-->
                            <!--<a href="http://localhost:3000/Streams/Add">Add</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="http://localhost:3000/Streams/Push">Push</a>-->
                        <!--</li>-->

                        <!--<li>-->
                            <!--<a href="http://localhost:3000/Streams/Active">Active</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </li>
                <li class="{{{apiExplorerActive}}}" >
                    <a href="/api-explorer"><img src="/images/terminal-logo.png"> EMS API Explorer</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    {{{body}}}
    <!-- /#page-wrapper -->

</div>
<footer>
    <ul class="footer">
        <li class="evostream">©2016 Evostream Media Server All Rights</li>
        <li class="wylog">Powered by WYLog</li>
    </ul>
</footer>
</body>
</html>
